
body {
background-image: url("pizza.jpg");
background-color: black;
}

div {
box-sizing: border-box;
width: 100%;
float: left;
align-content: center;
align-items: center;
}
form {
margin: 20px;
width: 600px;
background: black;
}

input[type=text] {
width: 400px;
border-radius: 10px;
padding: 3px;
background-color: white;
}
input[type=checkbox] {

padding: 20px;
border: 0;
vertical-align: middle;

}
.no_width {
width: 50px;
}
.valkotek {
color: white;
font-family:Gochi Hand, cursive;
padding: 0px;
user-select: none;

}

.valkotek:hover {
cursor: pointer;
}

h1 {
font-family: Bangers, bold;
color:red;
margin: 50px 200px 100px 0;
font-size: 70px;
text-align: center;
} 

h2 {
font-family:Gochi Hand, cursive;
color:white;
text-align: center;
float:right;
margin: 0 700px 0 0;
}


#pizza_slize {
	height: 300px;
	float: middle;
	margin: 0 0 0 50px;
	
}
